@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next{
    height: 100%;
    width: 100%;
    background-color: #232A3B;
}
input[type="text"]{
    outline: none;
    border: 3px solid #232A3B;
}
input[type="text"]:focus {
    border: 3px solid #396A9B;
}
textarea{
    border: 3px solid #232A3B;
    outline: none;
}
textarea:focus {
    outline: none;
    border: 3px solid #396A9B;
}
select{
    outline: none;
    border: 3px solid #232A3B;
}
select:focus {
    outline: none;
    border: 3px solid #396A9B;
}

.scroll{
    overflow: auto;
    /*white-space: nowrap;*/
}